.showMyExperience {
  display: flex;
  padding: 20px 0px;
  flex-direction: row;
}

.imgForExperience {
  width: 350px;
}

.wordsForExperience {
  flex: 1;
  background-color: bisque;
}

#experienceBox>div:nth-of-type(2n) div {
  order: -1;
}